apiVersion: v2
name: idrepo
description: A Helm chart for Idrepo module of MOSIP.
type: application
version: 12.2.0-develop
appVersion: ""
home: https://mosip.io
keywords:
  - mosip
  - idrepo
maintainers:
  - email: info@mosip.io
    name: MOSIP
dependencies:
- name: idrepo-saltgen
  alias: saltgen
  version: 12.1.0
  repository: https://mosip.github.io/mosip-helm
  condition: saltgen.enabled
- name: identity
  version: 12.1.0
  repository: https://mosip.github.io/mosip-helm
  condition: identity.enabled
- name: credential
  repository: https://mosip.github.io/mosip-helm
  version: 12.1.0
  condition: credential.enabled
- name: vid
  version: 12.1.0
  repository: https://mosip.github.io/mosip-helm
  condition: vid.enabled
- name: credentialrequest
  repository: https://mosip.github.io/mosip-helm
  version: 12.1.0
  condition: credentialrequest.enabled
