*.class
.mtj.tmp/
*.war
*.ear
hs_err_pid*
target/
.springBeans
.metadata
.factorypath
.classpath
.project
.settings/
.vertx/
bin/
tmp/
logs/
*.tmp
*.bak
*.swp
*~.nib
local.properties
local-run.env.bat
.loadpath
.DS_Store
test.txt
.idea/
.settings/
.sonarlint/
.recommenders/
/.recommenders/
**/*.iml
.vscode

# Ignore JAR files in lib
id-repository/lib/*.jar

# Temporary files
response.txt
sanity-test-output.log

# Ignore all scripts if they are temporary
id-repository/scripts/*.py