openapi: 3.0.1
info:
  title: Credential Request Generator
  description: Credential Request Generator
  license:
    name: Mosip
    url: https://docs.mosip.io/platform/license
  version: '1.0'
servers:
  - url: https://api-internal.collab.mosip.net/v1/credentialrequest/
    description: For Swagger
tags:
  - name: Credential Request Generator
    description: Credential Request Generator
paths:
  /v2/requestgenerator/{rid}:
    post:
      tags:
        - Credential Request Generator
      summary: Create the  credential issuance request
      description: Create the  credential issuance request
      operationId: credentialIssueByRid
      parameters:
        - name: rid
          in: path
          required: true
          description: Registration ID used to generate credentials
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestWrapperCredentialIssueRequestDto'
        required: true
      responses:
        '200':
          description: Created request id successfully
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Created
        '400':
          description: Unable to get request id
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /scheduleWebsubSubscription:
    get:
      tags:
        - Credential Request Generator
      operationId: handleSubscribeEvent
      responses:
        '200':
          description: Request authenticated successfully
          content:
            '*/*':
              schema:
                type: string
  /scheduleRetrySubscription:
    get:
      tags:
        - Credential Request Generator
      operationId: handleReSubscribeEvent
      responses:
        '200':
          description: Request authenticated successfully
          content:
            '*/*':
              schema:
                type: string
  /retrigger/{requestId}:
    put:
      tags:
        - Credential Request Generator
      summary: retrigger the credential issuance request
      description: retrigger the credential issuance request
      operationId: reprocessCredentialRequest
      parameters:
        - name: requestId
          in: path
          required: true
          description: Registration ID used to generate credentials
          schema:
            type: string
      responses:
        '200':
          description: retrigger the  the request successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialIssueResponseDto'
        '201':
          description: Created
        '400':
          description: Unable to retrigger the request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /requestgenerator:
    post:
      tags:
        - Credential Request Generator
      summary: Create the  credential issuance request
      description: Create the  credential issuance request
      operationId: credentialIssue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestWrapperCredentialIssueRequest'
        required: true
      responses:
        '200':
          description: Created request id successfully
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Created
        '400':
          description: Unable to get request id
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /getRequestIds:
    get:
      tags:
        - Credential Request Generator
      summary: get credential issuance request ids
      description: get credential issuance request ids
      operationId: getRequestIds
      parameters:
        - name: statusCode
          in: query
          required: false
          description: An HTTP status code
          schema:
            type: string
            default: FAILED
        - name: effectivedtimes
          in: query
          required: false
          description: Effective date-time (ISO 8601) from which the credential is valid.
          schema:
            type: string
        - name: pageNumber
          in: query
          required: false
          description: Page number for paginated results, starting from 0.
          schema:
            type: integer
            format: int32
            default: 0
        - name: pageSize
          in: query
          required: false
          description: Number of records to return per page.
          schema:
            type: integer
            format: int32
            default: 1
        - name: orderBy
          in: query
          required: false
          description: Field name to sort the results by (default is 'upd_dtimes').
          schema:
            type: string
            default: upd_dtimes
        - name: direction
          in: query
          required: false
          description: Sort direction for results; use 'ASC' or 'DESC' (default is 'DESC').
          schema:
            type: string
            default: DESC
      responses:
        '200':
          description: get credential issuance request ids successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialRequestIdsDto'
        '201':
          description: Created
        '400':
          description: Unable to get credential issuance request ids
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /get/{requestId}:
    get:
      tags:
        - Credential Request Generator
      summary: get credential issuance request status
      description: get credential issuance request status
      operationId: getCredentialRequestStatus
      parameters:
        - name: requestId
          in: path
          required: true
          description: Unique identifier of the credential request.
          schema:
            type: string
      responses:
        '200':
          description: get the credential issuance status of request successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialIssueResponseDto'
        '400':
          description: Unable to get the status of credential issuance request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /cancel/{requestId}:
    get:
      tags:
        - Credential Request Generator
      summary: cancel the credential issuance request
      description: cancel the credential issuance request
      operationId: cancelCredentialRequest
      parameters:
        - name: requestId
          in: path
          required: true
          description: Unique identifier of the credential request.
          schema:
            type: string
      responses:
        '200':
          description: cancel the request successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialIssueResponseDto'
        '400':
          description: Unable to cancel the request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /callback/notifyStatus:
    post:
      tags:
        - Credential Request Generator
      summary: callback
      description: callback
      operationId: handleSubscribeEvent_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialStatusEvent'
        required: true
      responses:
        '200':
          description: Request authenticated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperObject'
        '201':
          description: Created
        '400':
          description: Unable to request callback
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    CredentialIssueRequestDto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the credential issue request.
        credentialType:
          type: string
          description: Type of the credential to be issued.
        issuer:
          type: string
          description: Entity issuing the credential.
        recepiant:
          type: string
          description: Entity receiving the credential.
        user:
          type: string
          description: User for whom the credential is issued.
        encrypt:
          type: boolean
          description: Indicates if the credential should be encrypted.
        encryptionKey:
          type: string
          description: Encryption key used to encrypt the credential.
        sharableAttributes:
          type: array
          items:
            type: string
          description: List of credential attributes that can be shared.
        additionalData:
          type: object
          additionalProperties:
            type: object
          description: Any extra data to include with the request.
        requestId:
          type: string
          description: Unique ID for tracking the credential request.

    RequestWrapperCredentialIssueRequestDto:
      required:
        - request
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the wrapper request.
        version:
          type: string
          description: API version used for the request.
        requesttime:
          type: string
          format: date-time
          description: Timestamp of when the request was made.
        metadata:
          type: object
          description: Additional metadata related to the request.
        request:
          $ref: '#/components/schemas/CredentialIssueRequestDto'

    CredentialIssueResponse:
      type: object
      properties:
        requestId:
          type: string
          description: ID of the request corresponding to this response.
        id:
          type: string
          description: Identifier for the issued credential.

    CredentialIssueResponseDto:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the response.
        version:
          type: string
          description: API version of the response.
        responsetime:
          type: string
          description: Timestamp when the response was generated.
        response:
          $ref: '#/components/schemas/CredentialIssueResponse'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDTO'
          description: List of errors, if any occurred during processing.

    ErrorDTO:
      type: object
      properties:
        errorCode:
          type: string
          description: Code representing the error type.
        message:
          type: string
          description: Human-readable message describing the error.

    CredentialIssueRequest:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the credential issue request.
        credentialType:
          type: string
          description: Type of the credential to be issued.
        issuer:
          type: string
          description: Entity issuing the credential.
        recepiant:
          type: string
          description: Entity receiving the credential.
        user:
          type: string
          description: User for whom the credential is issued.
        encrypt:
          type: boolean
          description: Indicates if the credential should be encrypted.
        encryptionKey:
          type: string
          description: Encryption key used to encrypt the credential.
        sharableAttributes:
          type: array
          items:
            type: string
          description: List of credential attributes that can be shared.
        additionalData:
          type: object
          additionalProperties:
            type: object
          description: Any extra data to include with the request.

    RequestWrapperCredentialIssueRequest:
      required:
        - request
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the request wrapper.
        version:
          type: string
          description: API version being used.
        requesttime:
          type: string
          format: date-time
          description: Time when the request was initiated.
        metadata:
          type: object
          description: Optional metadata for the request.
        request:
          $ref: '#/components/schemas/CredentialIssueRequest'

    CredentialRequestIdsDto:
      type: object
      properties:
        requestId:
          type: string
          description: Unique identifier of the credential request.
        credentialType:
          type: string
          description: Type of credential requested.
        partner:
          type: string
          description: Partner system initiating the request.
        statusCode:
          type: string
          description: Status code representing the current state.
        statusComment:
          type: string
          description: Additional comments or notes about the status.
        createDateTime:
          type: string
          description: Timestamp when the credential request was created.
        updateDateTime:
          type: string
          description: Timestamp when the credential request was last updated.

    CredentialStatusEvent:
      type: object
      properties:
        publisher:
          type: string
          description: System or service that published the event.
        topic:
          type: string
          description: Event topic/category.
        publishedOn:
          type: string
          description: Timestamp when the event was published.
        event:
          $ref: '#/components/schemas/Event'

    Event:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the event.
        requestId:
          type: string
          description: Credential request ID associated with the event.
        timestamp:
          type: string
          description: Time when the event occurred.
        status:
          type: string
          description: Status value associated with the event.
        url:
          type: string
          description: URL related to the event or resource.

    ResponseWrapperObject:
      required:
        - response
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the response wrapper.
        version:
          type: string
          description: Version of the response structure.
        responsetime:
          type: string
          format: date-time
          description: Time when the response was generated.
        metadata:
          type: object
          description: Additional response metadata.
        response:
          type: object
          description: Actual response object or data.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ServiceError'
          description: List of errors associated with the response.

    ServiceError:
      type: object
      properties:
        errorCode:
          type: string
          description: Code representing the specific error.
        message:
          type: string
          description: Description of the error for the client.
