openapi: 3.0.1
info:
  title: MOSIP Credential Service API
  description: >
    This API provides endpoints to fetch credential types and issue digital credentials
    as part of the MOSIP identity management ecosystem.
  version: '1.0'
  contact:
    name: MOSIP Development Team
    email: dev@mosip.io
    url: https://www.mosip.io
  termsOfService: https://www.mosip.io/terms
  license:
    name: MOSIP License
    url: 'https://docs.mosip.io/platform/license'

servers:
  - url: 'https://api-internal.collab.mosip.net/v1/credentialservice/'
    description: Internal credential service API base path



paths:
  /add-identity:
    post:
      tags:
        - id-repo-controller
      summary: Add a new identity record
      description: >
        Adds a new identity record to the MOSIP identity repository, including demographic and biometric information.
        Typically used during registration workflows to onboard new residents into the system.
      responses:
        '200':
          description: Identity added successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /update-identity:
    put:
      tags:
        - id-repo-controller
      summary: Update existing identity record
      description: >
        Updates the demographic or biometric data of an existing identity in the MOSIP identity repository.
        Used when residents request changes or corrections in their identity profiles.
      responses:
        '200':
          description: Identity updated successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  tags:
  - name: Credential Types
    description: Fetch available credential types
  - name: Credential Issuance
    description: Create and issue a digital credential
  - name: id-repo-controller
    description: Identity repository management operations
  - name: id-repo-draft-controller
    description: Draft management operations in identity repository
    
  /types:
    get:
      tags:
        - Credential Types
      summary: Get credential types
      description: >
        Retrieve the list of credential types supported by the credential issuance service.
      operationId: getCredentialTypes
      responses:
        '200':
          description: Credential types retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialTypeResponse'
        '400':
          description: Unable to fetch credential types
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /issue:
    post:
      tags:
        - Credential Issuance
      summary: Issue new credential
      description: >
        Issues one or more credentials based on the provided template and recipient information.
      operationId: issueCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialIssueRequest'
      responses:
        '200':
          description: Credential(s) issued successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialIssueResponse'
        '201':
          description: Created
        '400':
          description: Unable to create credential
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /retrieve-identity:
    post:
      tags:
        - id-repo-controller
      summary: Retrieve identity by search criteria
      description: >
        Retrieves identity details from the repository based on provided search criteria such as UIN, RID, or demographic filters.
        Useful for fetching identity profiles for validation or processing within the MOSIP identity management workflow.
      responses:
        '200':
          description: Identity retrieved successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /retrieve-identity-by-id:
    post:
      tags:
        - id-repo-controller
      summary: Retrieve identity using unique identifier
      description: >
        Retrieves detailed identity information for a specific individual using their unique identifier (UIN or RID).
        This endpoint is used for direct lookups when the identifier is known, returning the associated identity profile.
      responses:
        '200':
          description: Identity retrieved successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /get-draft:
    post:
      tags:
        - id-repo-draft-controller
      summary: Retrieve draft identity data
      description: >
        Fetches draft identity data from the identity repository.
        Useful for workflows that involve saving partially completed identity registration or update processes,
        allowing users to resume and complete submissions later.
      responses:
        '200':
          description: Draft data retrieved successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth-type-status-request:
    post:
      tags:
        - id-repo-controller
      summary: Check authentication type status
      description: >
        Retrieves the current status of supported authentication types (e.g., biometric, OTP) for an identity.
        Helps determine available methods before initiating authentication transactions.
      responses:
        '200':
          description: Authentication type status retrieved successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /authenticate-internal-request:
    post:
      tags:
        - id-repo-controller
      summary: Authenticate identity internally
      description: >
        Performs authentication for an identity within the MOSIP system using internal services.
        Useful for verifying the identity of a resident using methods like biometric or OTP within internal workflows.
      responses:
        '200':
          description: Authentication successful
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'



    patch:
      tags:
        - id-repo-controller
      summary: Update existing identity record
      description: >
        Updates the demographic or biometric data of an existing identity in the MOSIP identity repository.
        Used when residents request changes or corrections in their identity profiles.
      responses:
        '200':
          description: Identity updated successfully
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  responses:
    UnauthorizedError:
      description: Unauthorized
    ForbiddenError:
      description: Forbidden
    NotFoundError:
      description: Not Found
    InternalServerError:
      description: Internal Server Error

  schemas:
    CredentialTypeResponse:
      type: object
      properties:
        credentialTypes:
          type: array
          items:
            $ref: '#/components/schemas/Type'
      example:
        credentialTypes:
          - id: HEALTH_CERT
            name: Health Certificate
            description: COVID-19 vaccination certificate
            issuers:
              - code: MOHFW
                name: Ministry of Health

    Issuer:
      type: object
      properties:
        code:
          type: string
        name:
          type: string

    Type:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        issuers:
          type: array
          items:
            $ref: '#/components/schemas/Issuer'

    CredentialIssueRequest:
      type: object
      properties:
        id:
          type: string
        credentialType:
          type: string
        requestId:
          type: string
        issuer:
          type: string
        recepiant:
          type: string
        user:
          type: string
        encrypt:
          type: boolean
        encryptionKey:
          type: string
        sharableAttributes:
          type: array
          items:
            type: string
        additionalData:
          type: object
          additionalProperties:
            type: object

    CredentialIssueResponse:
      type: object
      properties:
        id:
          type: string
        version:
          type: string
        responsetime:
          type: string
        response:
          $ref: '#/components/schemas/CredentialServiceResponse'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDTO'

    CredentialServiceResponse:
      type: object
      properties:
        status:
          type: string
        credentialId:
          type: string
        issuanceDate:
          type: string
          format: date-time
        signature:
          type: string
        dataShareUrl:
          type: string

    ErrorDTO:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
